*{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F0F2F5;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 980px;
    margin: auto;
}

.conteudo div + div{
margin: auto 50px ;
}

.logo{
    margin: 30vh auto;
}

.logo img{  
    max-width: 300px;
    margin-left: -33px;

}

.logo h1{
    font-size: 28px;
    min-width: 460px;
}


/* FORM */

form{
    display: inline-block;
    margin-top: 80px;
    background: white;
    padding: 15px 15px 30px 15px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.171);
}



form input{
    width: 364px;
    margin-bottom: 15px;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid rgba(124, 121, 121, 0.377);
    font-size: 16px;
    text-indent: 17px;
    background: white;
}

input:focus{
    outline: auto 1px #1670e59d;
}

form button{ 
    width: 364px;
    cursor: pointer;
    border: none;
    padding: 14px 0;
    border-radius: 6px;
    background: #1670e5dc;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: .3s;

}

form button:hover{
    background:#1670e5;
}

form .esqueceu{
    font-size: 14px;
    color: #166FE5;
    background:white;
}

form .esqueceu:hover{
    text-decoration: underline;
}

form   .linha{
    margin-top: 15px;
    font-weight: bolder;
    border: 1px solid rgba(124, 121, 121, 0.192);
    margin-bottom: 40px;
}

form .criar{
    width: 180px;
    color: white;
    padding: 14px 19px;
    background: #3ebd25d3;
    font-size: 17px;
    font-weight: bold ;
    border-radius: 6px;
    text-decoration: none;
    transition: .3s;
}

form .criar:hover{
    background: #3ebd25;
}


.dica{
    margin-top: 30px;

}

.dica a{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
}

.dica a:hover{
    text-decoration: underline;
}
